<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title>Alunos Cadastrados</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="materialize/css/materialize.min.css"
      media="screen,projection"
    />
    <link
      href="/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
      media="screen"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1 style="text-align: center">Editar Aluno</h1>
    <form
      name="f1"
      method="post"
      th:object="${aluno_id}"
      th:action="${salvar}"
      style="margin-right: -350px; margin-left: 400px"
    >
      <input th:field="*{codigo}" type="hidden" id="id" />
      <div class="form-row align-items-center">
        <div class="col-md-4 mb-3">
          <label>Nome</label>
          <input
            th:field="*{nome}"
            type="text"
            class="form-control"
            name="nome"
            placeholder="Nome"
          />
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="col-md-4 mb-3">
          <label>Idade</label>
          <input
            th:field="*{idade}"
            type="number"
            class="form-control"
            name="idade"
            placeholder="idade"
          />
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="col-md-4 mb-3">
          <label>Email</label>
          <input
            th:field="*{email}"
            type="text"
            class="form-control"
            name="email"
            placeholder="Email"
            onblur="checarEmail(f1.email);"
          />
        </div>
      </div>
      <div id="msgemail"></div>
      <div class="form-row align-items-center">
        <div class="col-md-4 mb-3">
          <a class="btn btn-outline-primary" href="/lista_alunos">Voltar</a>
          <button class="btn btn-success" type="submit">Salvar edição</button>
          <th:block th:include="mensagemValidacao"></th:block>
        </div>
      </div>
    </form>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript">
    function checarEmail(field) {
      usuario = field.value.substring(0, field.value.indexOf("@"));
      dominio = field.value.substring(
        field.value.indexOf("@") + 1,
        field.value.length
      );

      if (
        usuario.length >= 1 &&
        dominio.length >= 3 &&
        usuario.search("@") == -1 &&
        dominio.search("@") == -1 &&
        usuario.search(" ") == -1 &&
        dominio.search(" ") == -1 &&
        dominio.search(".") != -1 &&
        dominio.indexOf(".") >= 1 &&
        dominio.lastIndexOf(".") < dominio.length - 1
      ) {
        document.getElementById("msgemail").innerHTML =
          "<font color='green'>E-mail válido </font>";
      } else {
        document.getElementById("msgemail").innerHTML =
          "<font color='red'>E-mail inválido </font>";
        alert("E-mail invalido");
      }
    }
  </script>
</html>
